apache-beam==2.22.0
sqlparse==0.3.1
tf-slim==1.1.0
timeout-decorator==0.4.1
tqdm==4.49.0
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
